/* Tipografia */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Slabo";
  src: url("../fonts/Slabo27px-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
