@font-face {
  font-family: "Arabian Knight";
  src: url("./fonts/Arabian Knight-Bold.otf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Arabian Knight";
  src: url("./fonts/Arabian Knight-Bold.otf");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Arabian Knight";
  src: url("./fonts/Arabian Knight.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Arabian Knight";
  src: url("./fonts/Arabian Knight.otf");
  font-style: italic;
  font-weight: 400;
}
